name: Build static ffmpeg

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  package-linux:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        arch:
          - x86_64
    env:
      ARCH: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: |
          sudo apt-get update -y && \
          sudo apt-get install -y yasm libgnutls28-dev
      - name: Build
        run: ./build-linux.sh
      - name: Archive production artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ffmpeg-linux-${{ env.ARCH }}
          path: artifacts/

  package-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch:
          - x86_64
    env:
      ARCH: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: choco install -dfvy yasm
      - shell: msys2 {0}
        run: pacman -S mingw-w64-x86_64-gnutls
      - name: Build
        shell: msys2 {0}
        run: ./build-windows.sh
      - name: Archive production artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ffmpeg-windows-${{ env.ARCH }}
          path: artifacts/

  release:
    runs-on: ubuntu-latest
    needs:
      - package-linux
      - package-windows
    steps:
      - uses: actions/download-artifact@v2
        with:
          path: artifacts/
      - name: Make tarballs
        run: |
          mkdir artifacts/release/
          cd artifacts/
          for dir in ffmpeg-*/ffmpeg-*
          do
            name=$(basename $dir)
            tar czf release/$name.tar.gz -C $(dirname $dir) $name
          done
          ls -l release/
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: artifacts/release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
